$mainBlack: #202020;
$secondaryBlack: #404040;
$mainGrey: #909090;
$mainBlue: rgb(52, 151, 221);
$mainYellow: rgb(255, 171, 16);

$thin: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

$display-width: (
  "tablet": 768px,
  "laptop": 1024px,
  "desktop": 1400px,
);
